<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <queries>
        <package android:name="io.hextree.attacksurface" />
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WebViewPhishing"
        tools:targetApi="31" >

        <provider
            android:name="io.hextree.attacksurface.providers.Flag37Provider"
            android:authorities="io.hextree.flag37test"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true" />


        <activity android:name=".Flag10Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="io.hextree.attacksurface.ATTACK_ME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Flag33Activity"
            android:exported="true"
            android:theme="@style/Theme.WebViewPhishing" >
            <intent-filter>
                <action android:name="io.hextree.FLAG33" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivityHextree"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>